@media (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background: 
          linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)), 
          linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom; 
        position: relative;
    } 
    .bg-pattern-desktop {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        z-index: -1; /* Ensure the image is behind other content */
    }
    main{
        display: block;
         gap: 10rem;
        overflow: visible;
        font-family: "Josefin Sans", serif;
    
    }
    
    .first-container{
        margin-left: 0;
        margin-bottom: 0;
     
    }
    .logo-img{
        width: 200px;
        margin-top: 2rem;
        margin-left: 1.5rem;
    }
    .text-container{
        margin-top: 4rem;
    }
    .text-container h1{
        color:  hsl(0, 36%, 70%);
        width: 50%;
        letter-spacing: 15px;
        text-align: center;
        margin-inline: auto;
        
    }
    .text-container p{
        color:  hsl(0, 36%, 70%);
        width: 100%;
        line-height: 2;
        font-size: 16px;
        margin-top: 2rem;
        text-align: center;
        padding: 10px;
    }
    b{
        color:  hsl(0, 6%, 24%);
    }
    .hero-desktop-img{
        display: none;
        height: 99.9vh;
        margin-left: 15rem;
    }
    .EMAIL{
        margin-top: 3rem;
        list-style-type: none;
        margin-bottom: 2rem;
        outline: none;
        padding-left: 1.5rem;
    }
    ::placeholder{
        color:  hsl(0, 36%, 70%);
    }
    .input-m{
        width: 80%;
        height: 3rem;
        outline: none;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        padding-left: 1;
        margin-left: 2rem;
        border: 1px solid  hsl(0, 36%, 70%);
        padding-right: 1rem;
    }
    .input-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: -1.5rem;
        max-width: 400px;
      }
    button {
        background: hsl(0, 93%, 68%);
        border: none;
        height: 50px;
        width: 55px;
        position: absolute;
        right: 0;
        transform: translate(-30px, -50px);
        border-radius: 40%;
        color: white;
        /* margin-left: -5rem; */
      }
    .button{
        font-weight: 700;
        font-size: 15px;
    }
    .mobile-image{
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }    
    .hero-mobile-img{
        width: 100%;
    }
}